nav {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(7, 1fr);
    border-bottom: 1px solid #A7A8AA;
    background-color: rgba(112, 90, 55, 0.8);
    align-items: center;
    justify-content: center;
}

.menu {
    position: relative;
}

.menu a, .menu span {
    text-decoration: none;
    color: #F5F5DC;
    display: block; 
    padding: 10px;
    
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5c4a2c;
    z-index: 1;
    min-width: 150px;
    padding: 10px 0;
    border-radius: 4px;
}

.menu:hover .submenu {
    display: block;
    opacity: 1;
}

#blog, #viajes, #mapa, #tienda, #cuenta, #carrito, #idioma {
    display: flex;
    align-items: center;
    justify-content: center;
}